body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  position: absolute;
  top: 0;
  z-index: -1;
}
/*input element selector?*/
ul li {
  list-style: none;
}

label {
  
}

input {
  display: block;
  margin-bottom: 10px;
}

/*pseudo selectors that uses the colon syntax*/
input:focus {
  outline: 2px solid red;

}

button:hover {
  background: lightpink;
}

button:active {
  border: 10px solid yellow;
}